<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">
    <title>Account</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='assets/logo_transparent.png') }}">
</head>
<body>
<div class="absolute -z-10 bg-black h-screen w-screen" id="particles-js"></div>
<div class="bg-neutral-900 flex justify-between">
    <!-- Logo on the left -->
    <div class="space-x-1 flex items-center p-1">
        <img class="rounded-3xl" src="{{ url_for('static',filename='assets/logo_transparent.png') }}" alt="Logo" width="65px" height="65px"/>
        <p class="pl-1 md:text-3xl">MacroHQ</p>
    </div>
    <!-- Button on the right -->
    <div class="space-x-1 flex items-center pr-1">
        <img onclick="location.href = '/account';" class="invert" src="{{ url_for('static',filename='assets/account.svg') }}" alt="Account" width="48" height="48">
    </div>
</div>
<!-- Main part -->
<div class="">
    <div class="text-3xl bg-neutral-900 m-2 rounded-2xl">
        Welcome {{ username }}!
    </div>
    <button onclick="location.href = 'https://discord.com/api/oauth2/authorize?client_id=1147160689878777989&redirect_uri=http%3A%2F%2F127.0.0.1%3A5439%2Faccount&response_type=code&scope=identify';">
        nig
    </button>
</div>
</body>
</html>