{% extends 'base.html' %}

{% block title %} MacroHQ {% endblock %}

{% block particles %}
<div class="absolute -z-10 bg-black h-screen w-screen" id="particles-js"></div>
{% endblock %}

{% block content %}
    <div class="absolute top-1/4 md:top-1/2 left-1/2 text-center transform -translate-x-1/2 -translate-y-1/2">
        <p class="text-7xl">MacroHQ</p>
        <p class="text-2xl">We make macros.</p>
        <div class="pt-2">
            <button onclick="location.href = '/macrohub';"
                    class="border-white text-xl border-2 rounded-xl hover:bg-white hover:text-black pl-2 pr-2">MacroHub
            </button>
            <button onclick="location.href = 'https://discord.gg/vBP8R6JK8Z';"
                    class="border-white text-xl border-2 rounded-xl hover:bg-white hover:text-black pl-2 pr-2">Discord
            </button>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/particles.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/app.js') }}"></script>
{% endblock %}